* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

.App {
  min-height: 100vh;
  width: 100vw;
  /* background-color: gold; */
}
body {
  overflow-x: hidden;
}

/*-----------------nav------------*/
nav {
  height: auto;
  width: 100%;
  background: #8d2de2ca;
  background: linear-gradient(to right, #4b00e0e0, #8d2de2e0);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0 !important;
  padding: 12px 10vw;
  justify-content: space-between;
  z-index: 1000000;
}

nav .logo img {
  height: 9vh !important;
}
.logo-txt {
  color: white;
  flex: 1;
  margin-left: 25px;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}
.logo-txt .t-title {
  font-size: 1.8rem;
}

.logo-txt h3 {
  font-size: 1.1rem;
}

.nav-btns {
  display: flex;
  align-items: center;
  gap: 25px;
}
.hid-menu {
  height: 100vh;
  width: 300px;
  background: #8103ff25;
  backdrop-filter: blur(10px);
  z-index: 1000000;
  position: fixed;
  right: 0 !important;
  top: 0 !important;
  display: flex;
  flex-direction: column;
}
.hid-menu {
  padding: 50px;
}
.hid-menu .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.hid-menu .nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.3rem;
}
.nav-btn {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: space-between;
  gap: 15px;
}
.btn {
  color: white;
  padding: 8px 25px;
  border-radius: 5px;
  transition: 0.5s;
}
.btn-adm {
  background-color: rgb(44, 188, 49);
}
.btn-art {
  background-color: rgb(61, 61, 250);
}
.btn-adm:hover {
  background-color: rgb(47, 158, 51);
}
.btn-art:hover {
  background-color: rgb(32, 32, 182);
}
.bar {
  color: white;
  font-size: 2rem !important;
}
.close {
  /* background-color: red; */
  display: flex;
}
.close .close-btn {
  color: black;
}
@media only screen and (max-width: 670px) {
  .nav-btns {
    flex-direction: column;
    gap: 10px;
  }
  nav {
    padding: 15px;
  }
}
@media only screen and (max-width: 870px) {
  .t-title {
    display: none;
  }
  .s-title {
    font-size: 1.5rem !important;
  }
  form {
    padding: 40px 50px !important;
  }
  .field {
    width: 70vw !important;
  }
  /*=============home===========-*/
  .Home {
    flex-direction: column;
    justify-content: center !important;
    margin-bottom: 50px;
    min-height: fit-content !important;
    width: 100vw;
    margin-top: 20vh;
    background: white !important;
    gap: 0 !important;
  }
  .Home .h-left {
    padding: 0;
  }
  .Home .home-t {
    font-size: 3rem !important;
    color: rgb(23, 23, 23) !important;
  }
  .Home .h-right img {
    width: 55vw !important;
    min-width: 300px !important;
  }

  .gray {
    color: rgb(35, 35, 35) !important;
    font-size: 1.3rem;
  }
  .Home h3 {
    font-size: 1.5rem !important;
  }
  .h-left {
    padding: 10vh 15vw 3vh 15vw;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }
  /*===================about=====================*/
  .about {
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;

    background: white !important;
  }
  .about .a-left {
    /* background-color: green; */
    width: 80vw;
  }
  .a-right {
    height: 85vh !important;
    width: 75vw !important;
    min-width: 440px;
    overflow: hidden;
    border-radius: 15px;
  }
  /*====================event=======================*/
  .e-list {
    flex-direction: column;
    gap: 25px;
  }
  header.event-sec {
    padding-top: 0;
  }
  /*=============contact=================*/
  .roww {
    flex-direction: column;
  }
  .con-col iframe {
    width: 80vw !important;
  }
}
.left-i {
  background-color: rgb(253, 253, 253) !important;
}
.frame {
  background: url('https://raw.githubusercontent.com/KHUNTPRIYANSH/site_photos/main/bbg4.png');
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 50px 1px #7211c77d;
}
/*=========================== sections ============================*/
.Home {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  padding: 0 10vw 0 15vw !important;
  background: url('https://raw.githubusercontent.com/KHUNTPRIYANSH/site_photos/main/bg6.png');
  background-position: bottom right;
  background-position-y: -120px;
  background-position-x: 110px;
  background-repeat: no-repeat;
  background-size: cover;
}
.gray {
  color: rgb(35, 35, 35);
}
.Home .h-right img {
  width: 35vw;
  min-width: 450px;
}
.h-left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5vh;
}
.Home .h-left .h-btn {
  margin: 0;
}
.Home h1 {
  font-size: 3.3rem !important;
  text-transform: capitalize;
  color: rgb(10, 10, 10);
}
.Home h3 {
  color: gray;
}
/*===================about=====================*/
.about {
  height: auto;
  width: 100vw;
  gap: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10vh 15vw;
  background: url('https://raw.githubusercontent.com/KHUNTPRIYANSH/site_photos/main/bg-line.png');
  background-position: center;
  background-size: cover;
}
.a-left {
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.a-left .s-title {
  font-size: 1.1rem;
  color: rgb(35, 35, 35);
  margin: 15px 0;
  text-align: justify;
}
.a-left .blue {
  text-decoration: none;
  font-weight: bolder;
  font-size: 2rem;
  margin: 0 0 15px 0;
}
.a-left .tt-title {
  font-size: 1.4rem;
}
.a-right {
  height: 85vh;
  width: 30vw;
  min-width: 350px;
  overflow: hidden;
  border-radius: 15px;
  /* box-shadow: 0 0 25px 1px rgba(99, 0, 248, 0.452); */
}
.a-left .btns {
  margin-top: 20px;
}

.a-right video {
  height: 140%;
  position: relative;
  bottom: 60px;
}
@media only screen and (max-width: 430px) {
  .a-left .s-title {
    font-size: 1.2rem !important;
  }
  .a-left .blue {
    font-size: 1.5rem;
  }
  .a-left .tt-title h1 {
    font-size: 2rem !important;
    padding: 0;
    margin: 0 !important;
  }
  .a-right {
    height: 65vh !important;
    width: 75vw !important;
    overflow: hidden;
    border-radius: 15px;
  }
}
.event-sec {
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7vh 15vw;
}
.e-title {
  color: #7211c7;
  font-size: 3rem;
  font-weight: bolder;
  margin: 25px 0;
}
.e-sub-title {
  color: #1c1c1c;
  font-size: 1.2rem;
  font-weight: 500;
}
.e-list {
  height: auto;
  width: 100vw;
  display: flex;
  padding: 0 10vw;
  align-items: center;
  justify-content: space-evenly;
}
.e-list .card {
  height: auto;
  width: 33vw;
  min-width: 400px;
  border: 1px solid rgb(230, 230, 230);
  overflow: hidden;
  transition: all 1s;
  background: white;
  border-radius: 7px;
}
.e-list .card .card-img {
  width: 100%;
  overflow: hidden;
  height: 270px;
  position: relative;
  transition: all 1s;
}

.e-list .card .card-img img {
  width: 100%;
  transition: all 1s;
}
.e-list .card:hover {
  box-shadow: 0 0 30px 1px rgba(26, 26, 26, 0.35);
}
.e-list .card:hover .card-img img {
  transform: scale(1.2);
}
.e-list .card .time {
  position: absolute;
  bottom: 0 !important;
  content: '24';
  content: 'Nov';
  text-align: center;

  padding: 25px 35px;
  font-size: 1.5rem;
  font-weight: bolder;
  width: fit-content;
  background-color: #7211c7;
  color: white;
  z-index: 100;
}
.e-list .card .card-info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.e-list .card .card-info .info-loc {
  color: #7211c7;
  font-size: 1.3rem;
  border-left: 3px solid #7211c7;
  padding-left: 5px;
}
.e-list .card .card-info .info-t {
  color: rgb(24, 24, 24);
  font-size: 2rem;
  font-weight: bolder;
}
.join {
  margin-top: 20px !important;
  background-color: #7211c7 !important;
  cursor: pointer;
}
/*==============contact======================*/

.roww {
  display: flex;
  justify-content: space-between;
}
.location iframe {
  width: 100%;
}
.contact-us {
  width: 80%;
  margin: auto;
}
.con-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.con-col iframe {
  width: 40vw;
}
.con-col form {
  padding-top: 0;
  background-color: transparent;
}
.con-col input,
.con-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
